.links-in-header {
    color: cornsilk;
    /* text-transform: uppercase; */
    text-decoration: none;
    letter-spacing: 0.08em;
    
    display: flex;
    padding: 10px 15px;
    position: relative;
  }
  .links-in-header:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: flex;
    height: 2px;
    left: 50%;
    position: absolute;
    background: cornsilk;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .links-in-header:hover:after { 
    width: 100%; 
    left: 0; 
  }